/* General body styling */
html {
    width: 50%;
    justify-content: center;
    margin: auto;
}
img{
    height: 50%;
    width: 50%;
    margin: auto;
    display: flex;
    justify-self: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}
body {
    font-family: 'Oswald', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Title section styling */
.title h1 {
    text-align: center;
    color: #333;
}

/* Questions section styling */
.questions {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer{
    font-family: 'Consolas', sans-serif;
}
.questions h4 {
    color: #ff0000;
    text-decoration: underline;
}
button {
    cursor: pointer;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}
button:hover {
    background-color: #707070;
    color: rgb(255, 255, 255);
}
.questions img {
    width: 100%; /* Make images responsive */
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* Result section styling */
.result {
    display: flex;
    background-color: #e2e2e2;
    text-align: center;
    size: 25px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}
